{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %} 
    <!-- Modal -->
    <div class="modal fade" id="addItemModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Item To Track</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="" method="POST" autocomplete="off">
                        {% csrf_token %}
                        {{form | crispy}}
                        <button type="submit" class="btn btn-primary mt-3">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Amazon Price Tracker</h2>
        </div>
        <div class="row mt-3 align-items-center">
            <div class="col-md-6">
                <a href="{% url 'update' %}" class="btn btn-outline-success">Update</a>
                <button class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#addItemModal">Add URL</button>
            </div>
            <div class="col-md-6">
                <div class="text-end"><strong>Total items being tracked: </strong>{{items_no}}</div>
                <div class="text-end"><strong>Discounted items: </strong>{{no_discounted}}</div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8">
                {% if links %}
                  {% for link in links %}
                    <div class="card my-3">
                        <div class="card-header">
                            {{link.name}}
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote">
                                <p><strong>Current Price: </strong>Rs. {{link.current_price}}</p>
                                <p><strong>Old Price: </strong>Rs. {{link.old_price}}</p>
                                <p><strong>Price Difference: </strong>Rs. {{link.price_difference}}</p>
                                <p><strong>URL: </strong><a href="{{link.url}}" target="_blank">Visit Url</a></p>
                            </blockquote>
                        </div>
                    </div>
                  {% endfor %}
                {% else %}
                  <p class="lead">No items are being tracked</p>
                {% endif %}
                
            </div>
        </div>
    </div> 
{% endblock content %}